@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply outline-none;
}

html {
  @apply h-full;
}

body {
  @apply w-full min-h-full;
  @apply flex justify-center;

  @apply bg-gray-100 dark:bg-black-800;
}

body:not(.preload), body * {
  @apply transition duration-300;
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
}

#app {
  @apply w-full min-h-full;
  @apply flex justify-center;
}

.container {
  @apply flex flex-col justify-center;
  @apply bg-white dark:bg-black-700;
  @apply p-8 rounded shadow;

  height: fit-content;
}

span.badge {
  @apply inline-flex justify-center items-center px-2 py-1 ml-1;
  @apply text-black-700 dark:text-white bg-gray-100 dark:bg-black-600;

  font-weight: 600;
  font-size: 0.6rem;
  line-height: 0.6rem;

  border-radius: 2px;
}

button, .button {
  @apply font-medium text-sm text-black-700 dark:text-white;
  @apply text-center py-2 px-4;
  @apply rounded border border-gray-200 dark:border-black-600;
  @apply bg-transparent;
}

button:hover, .button:hover {
  @apply bg-gray-200 dark:bg-black-600;
}

button:disabled, .button:disabled {
  @apply opacity-60;
}

button.dark, .button.dark {
  @apply border-none;
  @apply text-white bg-black-400 dark:bg-black-600;
}

button.dark:hover, .button.dark:hover {
  @apply bg-black-300 dark:bg-black-500;
}

input[type="text"], input[type="password"], input[type="email"] {
  @apply w-full p-3 bg-white dark:bg-black-700;
  @apply text-sm text-black-700 dark:text-white placeholder-gray-500 placeholder-opacity-75;

  @apply rounded border border-gray-200 dark:border-black-600;
  @apply focus:ring-0 focus:border-gray-200 dark:focus:border-black-600;
}

textarea {
  @apply border-none placeholder-gray-500 placeholder-opacity-75;
  @apply focus:ring-0;
}