:root {
    --primary-color: #FFFFFF;
    --secondary-color: #FFFFFF;
    --background-color: #F5F5F5;

    --text-light-color: #FFFFFF;
    --text-dark-color: #202020;

    --text-primary-color: var(--text-dark-color);
    --text-secondary-color: #4B5563;

    --shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;

    --border-radius: 0.375rem;
    --border-color: #E5E7EB;

    --button-light-primary-color: #FFFFFF;
    --button-light-secondary-color: #F3F4F6;

    --button-dark-primary-color: #111827;
    --button-dark-secondary-color: #1F2937;

    --error-alert-background-color: #DC2626;
    --error-alert-text-color: #FFFFFF;
}

[data-theme="dark"] {
    --primary-color: #202020;
    --secondary-color: #303030;
    --background-color: #181818;

    --text-primary-color: #FFFFFF;
    --text-secondary-color: #CCCCCC;

    --border-color: #303030;

    --button-light-primary-color: #202020;
    --button-light-secondary-color: #303030;

    --button-dark-primary-color: #303030;
    --button-dark-secondary-color: #383838;
}